{% extends "gridviz/form_content_base.html" %}
{% load bootstrap %}

{% block form_content %}
    <div id="drawing-update">
        <div class="content-title">{{ object.title }}</div>
        <form class="form-horizontal" method="post">{% csrf_token %}
            <div class="row">
                <div class="form-col">
                    {{ form|bootstrap_horizontal }}
                </div>
                <div class="rename-col">
                    <input id="rename-button" type="submit" value="Rename">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="back-button" href="{% url 'gridviz.views.drawing_list' %}">
                        <span class="back-icon"></span> All Drawings</a>
                </div>
                <div class="col">
                    <a class="delete-button"
                       href="{% url 'gridviz.views.drawing_confirm_delete' pk=form.instance.pk %}">Delete Drawing</a>
                </div>
                <div class="col">
                    <a class="action-button" href="{% url 'gridviz.views.drawing_edit' pk=object.pk %}">
                        <span class="edit-icon"></span> Edit Drawing</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}