# JetBrains files
/.idea/
*.iml

# Generated static files
/static/
/collected_static/

# Node/Angular/JS stuff
/node_modules/
/bower_components/
/angular/coverage/

# Python/Django stuff
*.pyc
.coverage
db.sqlite3

# Vim swap files
*.swp
*.swo
