# Copyright (c) 2014 Kevin Bell. All rights reserved.
# See the file LICENSE.txt for copying permission.

Django==1.7b4
django-websocket-redis==0.4.0
django-bootstrap-form==3.1
django-model-utils==2.0.3
coverage==3.7.1
coveralls==0.4.1
PyMySQL==0.6.1
django-registration
boto==2.27.0
django-ses==0.6.0
django-braces==1.4.0

