{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Parameters": {

        "KeyName": {
            "Description": "Name of an existing EC2 KeyPair to enable SSH access to the instances",
            "Type": "String",
            "MinLength": "1",
            "MaxLength": "255",
            "AllowedPattern": "[\\x20-\\x7E]*",
            "ConstraintDescription": "can contain only ASCII characters."
        },

        "InstanceType": {
            "Description": "WebServer EC2 instance type",
            "Type": "String",
            "Default": "m1.small",
            "AllowedValues": [ "t1.micro", "m1.small", "m1.medium", "m1.large", "m1.xlarge", "m2.xlarge", "m2.2xlarge",
                               "m2.4xlarge", "m3.xlarge", "m3.2xlarge", "c1.medium", "c1.xlarge", "cc1.4xlarge",
                               "cc2.8xlarge", "cg1.4xlarge"],
            "ConstraintDescription": "must be a valid EC2 instance type."
        }
    },
    "Mappings": {
        "Region2Ami": {
            "ap-northeast-1": {
                "64": "ami-bddaa2bc",
                "32": "ami-bbdaa2ba"
            },
            "ap-southeast-1": {
                "64": "ami-9a7724c8",
                "32": "ami-947724c6"
            },
            "eu-west-1": {
                "64": "ami-896c96fe",
                "32": "ami-8b6c96fc"
            },
            "sa-east-1": {
                "64": "ami-7315b76e",
                "32": "ami-7115b76c"
            },
            "us-east-1": {
                "64": "ami-018c9568",
                "32": "ami-358c955c"
            },
            "us-west-1": {
                "64": "ami-ee4f77ab",
                "32": "ami-ec4f77a9"
            },
            "ap-southeast-2": {
                "64": "ami-43128a79",
                "32": "ami-4d128a77"
            },
            "us-west-2": {
                "64": "ami-6ac2a85a",
                "32": "ami-68c2a858"
            }
        }
    },
    "Resources": {
        "WebServer": {
            "Type": "AWS::EC2::Instance",
            "Properties": {
                "ImageId": {
                    "Fn::FindInMap": [ "Region2Ami", {
                        "Ref": "AWS::Region"
                    }, "64"]
                },
                "InstanceType": {
                    "Ref": "InstanceType"
                },
                "SecurityGroups": [
                    {
                        "Ref": "ServerSecurityGroup"
                    }
                ],
                "KeyName": {
                    "Ref": "KeyName"
                },
                "UserData": {
                    "Fn::Base64": {
                        "Fn::Join": ["", [
                            "#!/bin/bash\n",
                            "echo AWS_REGION=", {
                                "Ref": "AWS::Region"
                            }, " >> /etc/environment\n",
                            "echo AWS_STACK_ID=", {
                                "Ref": "AWS::StackId"
                            }, " >> /etc/environment\n",
                            "echo GRIDVIZ_ROOT=/opt/gridviz >> /etc/environment\n",
                            "echo GRIDVIZ_HOSTNAME=$(curl -s http://169.254.169.254/latest/meta-data/public-hostname) >> /etc/environment\n",
                            "source /etc/environment\n",
                            "apt-get -y update\n",
                            "apt-get -y install python-pip\n",
                            "pip install https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-latest.tar.gz\n",
                            "cfn-init -v --region $AWS_REGION -s $AWS_STACK_ID -r WebServer\n",
                            "git clone https://github.com/bellkev/gridviz.git /opt/gridviz\n",
                            "python install -r /opt/gridviz/requirements.txt\n",
                            "python /opt/gridviz/django/manage.py collectstatic\n",
                            "cp /opt/gridviz/config/uwsgi_dev.ini /etc/uwsgi/apps-available/\n",
                            "ln -s /etc/uwsgi/apps-available/uwsgi_dev.ini /etc/uwsgi/apps-enabled/\n",
                            "cp /opt/gridviz/config/nginx_dev.conf /etc/nginx/sites-available\n",
                            "sed -i 's/<GRIDVIZ_HOSTNAME>/$GRIDVIZ_HOSTNAME/' nginx_dev.conf\n",
                            "sed -i 's/<GRIDVIZ_ROOT>/$GRIDVIZ_ROOT/' nginx_dev.conf\n",
                            "ln -s /etc/nginx/sites-available/nginx_dev.conf /etc/nginx/sites-enabled/\n"
                        ]]
                    }
                }
            },
            "Metadata": {
                "AWS::CloudFormation::Init": {
                    "config": {
                        "packages": {
                            "apt": {
                                "nginx": [],
                                "mysql-server": [],
                                "git": [],
                                "uwsgi": []
                            }
                        },
                        "services": {
                            "sysvinit": {
                                "nginx": {
                                    "enabled": "true",
                                    "ensureRunning": "true"
                                },
                                "mysql": {
                                    "enabled": "true",
                                    "ensureRunning": "true"
                                },
                                "uwsgi": {
                                    "enabled": "true",
                                    "ensureRunning": "true"
                                }
                            }
                        }
                    }
                }
            }
        },
        "ServerSecurityGroup": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "GroupDescription": "Enable HTTP access via port 80 and SSH access",
                "SecurityGroupIngress": [
                    {
                        "IpProtocol": "tcp",
                        "FromPort": "80",
                        "ToPort": "80",
                        "CidrIp": "0.0.0.0/0"
                    },
                    {
                        "IpProtocol": "tcp",
                        "FromPort": "22",
                        "ToPort": "22",
                        "CidrIp": "0.0.0.0/0"
                    }
                ]
            }
        }
    }
}