{% extends "base.html" %}

{% block content %}
    <div id="drawings">
        <h2>Drawings</h2>
        <table class="drawings">
            <thead>
            <tr>
                <th>Title</th>
                <th>Last Modified</th>
            </tr>
            </thead>
            <tbody>
            {% for drawing in drawing_list %}
                <tr>
                    <td><a href="{{ drawing.get_absolute_url }}">{{ drawing.title }}</a></td>
                    <td>{{ drawing.modified_at|date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if not drawing_list %}
            <div class="empty-table-label">You haven't made any drawings yet</div>
        {% endif %}
        <a href="/drawings/create" class="create-button"><span class="plus-icon"></span> New Drawing</a>
    </div> <!-- /drawings -->
{% endblock %}